// -----------------------------------------------
//
// Styling for Category Detail page
//
// -----------------------------------------------
#categoryDetailContainer {
	margin-top: 25px;

	.categoryDescriptionContainer {
		margin-bottom: 50px;
	}

	.textIntroContainer {
		.buttonContainer {
			display: flex;
			justify-content: center;

			#left {
				margin-right: 30px;
			}
			#right {
				margin-left: 30px;
			}
		}
	}
}
