// -----------------------------------------------
//
// Styling for Category Delete page
//
// -----------------------------------------------
#categoryDeleteContainer {
	.categoryDeleteTextContainer {
		margin-top: 30px;
		margin-bottom: 30px;

		h2 {
			font-weight: 600;
		}
	}
}
