// -----------------------------------------------
//
// Styling for index page
//
// -----------------------------------------------
#landingContainer {
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	.landingTextContainer {
		color: white;

		h1 {
			font-family: var(--exo2);
			font-weight: 700;
			font-size: 3.5rem;
		}

		p {
			font-family: var(--ptsans);
			font-size: 1.2rem;
		}
	}
}
