<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sal's Video Game Store</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col">
					<!-- <h1><%= title %></h1> -->
					<!-- <p>Welcome to <%= title %></p> -->
					<p>Reusable Content</p>
				</div>
			</div>
		</div>

		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
			crossorigin="anonymous"
		></script>
		<!-- <%{{ content }}%> -->
	</body>
</html>
