// -----------------------------------------------
//
// Styling for the entire app
//
// -----------------------------------------------
// Color Variables
// -----------------------------------------------
:root {
	--blue: #393e5f;
	--white: #ffffff;
	--orange: #fc9705;
	--rufina: 'Rufina', serif;
	--source: 'Source Sans Pro', sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
	font-family: var(--source);
	background-color: var(--blue);
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.test {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
}

.errorsContainer {
	color: red;
}

// View Styles
// --------------------------------------------
@import './index.scss';
