@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&family=PT+Sans:wght@400;700&display=swap");
:root {
  --blue: #181a2b;
  --white: #ffffff;
  --orange: #cd8113;
  --orangeHover: #e48c0c;
  --exo2: 'Exo 2', sans-serif;
  --ptsans: 'PT Sans', sans-serif; }

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: var(--ptsans);
  background-color: var(--blue);
  color: white; }

body {
  display: flex;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

.exo2 {
  font-family: var(--exo2); }

.ptSans {
  font-family: var(--ptsans); }

.title {
  font-family: var(--exo2);
  font-weight: 700; }

.gridDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px; }

.textIntroContainer {
  display: flex; }
  .textIntroContainer h1 {
    margin-right: 50px; }
  .textIntroContainer a {
    margin-top: 5px; }

.cardItem {
  color: black; }

.errorsContainer {
  color: red; }

.navigationButton {
  color: #fff;
  background-color: var(--orange);
  border-color: var(--orange); }

.navigationButton:hover {
  color: #fff;
  background-color: var(--orangeHover);
  border-color: var(--orangeHover); }

.navigationButton:focus {
  box-shadow: 0 0 0 0.25rem var(--orange);
  background-color: var(--orangeHover);
  border-color: var(--orangeHover); }

#headerContainer #logo {
  color: white;
  font-family: var(--exo2);
  font-weight: 700;
  font-size: 1.5rem; }

#headerContainer ul li .menuLink {
  color: white;
  font-family: var(--ptsans);
  font-size: 1.3rem;
  font-weight: 700; }

#footerContainer {
  display: flex;
  justify-content: flex-end;
  color: white; }
  #footerContainer .footerContentContainer {
    display: flex; }
    #footerContainer .footerContentContainer a {
      color: white; }
    #footerContainer .footerContentContainer p {
      margin-left: 15px;
      margin-right: 15px;
      font-size: 18px;
      font-family: var(--ptsans); }

#landingContainer {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  #landingContainer .landingTextContainer {
    color: white; }
    #landingContainer .landingTextContainer h1 {
      font-family: var(--exo2);
      font-weight: 700;
      font-size: 3.5rem; }
    #landingContainer .landingTextContainer p {
      font-family: var(--ptsans);
      font-size: 1.2rem; }

#categoryListContainer {
  margin-top: 25px; }
  #categoryListContainer hr {
    margin-bottom: 50px; }
  #categoryListContainer .categoryCardImage {
    margin: 0 auto;
    width: 255px;
    height: 200px;
    object-fit: cover; }

#categoryDetailContainer {
  margin-top: 25px; }
  #categoryDetailContainer .categoryDescriptionContainer {
    margin-bottom: 50px; }
  #categoryDetailContainer .textIntroContainer .buttonContainer {
    display: flex;
    justify-content: center; }
    #categoryDetailContainer .textIntroContainer .buttonContainer #left {
      margin-right: 30px; }
    #categoryDetailContainer .textIntroContainer .buttonContainer #right {
      margin-left: 30px; }

#categoryDeleteContainer .categoryDeleteTextContainer {
  margin-top: 30px;
  margin-bottom: 30px; }
  #categoryDeleteContainer .categoryDeleteTextContainer h2 {
    font-weight: 600; }

#itemDetailContainer {
  margin-top: 50px; }
  #itemDetailContainer .buttonContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 30px; }
    #itemDetailContainer .buttonContainer #left {
      margin-right: -50px; }
    #itemDetailContainer .buttonContainer #right {
      margin-left: -50px; }

/*# sourceMappingURL=style.css.map */